*{
   margin: 0;
   padding: 0;
}
.title{
   width: 100%;
   height: 55px;
   display: flex;
   background-color: burlywood;
   align-items: center;
}
.title{
   position: sticky;
   top: 0;
}
.btn{
   margin-left: 55em;
}
.btn button
{
   font-size: larger;
   padding: 5px 10px;
   border: none;
   border-radius: 5px;
   background-color: burlywood;
   cursor: pointer;
}
.btn button:hover{
   color: black;
   background-color: azure;
}
.head1
{
   margin-left: 10px;
   font-weight: bold;
   font-family:Georgia, 'Times New Roman', Times, serif;
   letter-spacing: 2px;
}
.title span{
   color:white;
   background-color: black;
   border-radius: 5px;
}
.img1 img
{
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   
}
.head2
{
   padding: 10%;
   border: px solid white;
}
img{
   width: 100%;
   height: 100%;
}